In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [85]:
df=pd.DataFrame({
    'x':[12,34,52,23,64,73,34,24,64,75,24,65,75],
    'y':[14,22,53,23,53,64,13,64,68,45,24,65,23],
    'z':[24,12,33,63,23,44,15,62,61,45,21,12,43]
})
# df_test=pd.DataFrame({
#     'x':[34,35,12,42,75,23],
#     'y':[85,13,23,75,23,64],
#     'z':[15,93,73,12,34,23]
# })
df.head()

    x   y   z
0  12  14  24
1  34  22  12
2  52  53  33
3  23  23  63
4  64  53  23

In [86]:
from sklearn.cluster import KMeans

kmeans=KMeans(n_clusters=3, max_iter=100 ,random_state=2)
kmeans.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=2, tol=0.0001, verbose=0)

In [87]:
#labels=kmeans.predict(df_test)+1
labels=kmeans.predict(df)+1
centroids=kmeans.cluster_centers_
print(labels)
print(centroids)

[3 3 1 2 1 1 3 2 1 1 3 1 1]
[[66.85714286 53.         37.28571429]
 [23.5        43.5        62.5       ]
 [26.         18.25       18.        ]]