In [0]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [6]:
iris=load_iris()
df=pd.DataFrame({
    'sepal length':iris.data[:,0],
    'sepal width':iris.data[:,1],
    'petal length':iris.data[:,2],
    'petal width':iris.data[:,3],
    'species':iris.target
})
df.head()

   petal length  petal width  sepal length  sepal width  species
0           1.4          0.2           5.1          3.5        0
1           1.4          0.2           4.9          3.0        0
2           1.3          0.2           4.7          3.2        0
3           1.5          0.2           4.6          3.1        0
4           1.4          0.2           5.0          3.6        0

In [0]:
x=df[['sepal length', 'sepal width', 'petal length', 'petal width']]
y=df['species']

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3, random_state=2)

In [10]:
clf=RandomForestClassifier(n_estimators=100)

clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)
y_pred

array([0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 1, 0, 1, 2, 1, 2, 1,
       2, 1, 1, 0, 0, 2, 0, 2, 2, 0, 1, 2, 1, 0, 2, 1, 1, 2, 1, 1, 2, 1,
       0])

In [13]:
print("Accuracy:",accuracy_score(y_test, y_pred)*100)

Accuracy: 97.77777777777777