In [0]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
url = 'https://raw.githubusercontent.com/SohelRaja/ML_repo_college/master/Decision%20Tree%20with%20Python/WA_Fn-UseC_-Telco-Customer-Churn.csv'
telco = pd.read_csv(url)
telco=telco.drop(['customerID','TotalCharges'] , axis=1)
telco.head()

   gender  SeniorCitizen  ... MonthlyCharges Churn
0  Female              0  ...          29.85    No
1    Male              0  ...          56.95    No
2    Male              0  ...          53.85   Yes
3    Male              0  ...          42.30    No
4  Female              0  ...          70.70   Yes

[5 rows x 19 columns]

### Data cleaning and data handling

In [4]:
telco['Partner'].replace(to_replace=[['No'],['Yes']],value=['PartnerNo','PartnerYes'],inplace=True)
telco['Dependents'].replace(to_replace=[['No'],['Yes']],value=['Independent','Dependent'],inplace=True)
telco['PhoneService'].replace(to_replace=[['No'],['Yes']],value=['PSNo','PSYes'],inplace=True)
telco['PaperlessBilling'].replace(to_replace=[['No'],['Yes']],value=['PLBNo','PLBYes'],inplace=True)
telco['MultipleLines'].replace(to_replace=[['No phone service'],['No'],['Yes']],value=['MLNo','MLNo','MLYes'],inplace=True)
telco['OnlineSecurity'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['OSNo','OSNo','OSYes'],inplace=True)
telco['OnlineBackup'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['OBNo','OBNo','OBYes'],inplace=True)
telco['DeviceProtection'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['DPNo','DPNo','DPYes'],inplace=True)
telco['TechSupport'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['TSNo','TSNo','TSYes'],inplace=True)
telco['StreamingTV'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['STVNo','STVNo','STVYes'],inplace=True)
telco['StreamingMovies'].replace(to_replace=[['No internet service'],['No'],['Yes']],value=['SMNo','SMNo','SMYes'],inplace=True)
telco.head()

   gender  SeniorCitizen  ... MonthlyCharges Churn
0  Female              0  ...          29.85    No
1    Male              0  ...          56.95    No
2    Male              0  ...          53.85   Yes
3    Male              0  ...          42.30    No
4  Female              0  ...          70.70   Yes

[5 rows x 19 columns]

In [5]:
telco['gender'].replace(to_replace=[['Female'],['Male']],value=[0,1],inplace=True)
telco['Partner'].replace(to_replace=[['PartnerNo'],['PartnerYes']],value=[0,1],inplace=True)
telco['Dependents'].replace(to_replace=[['Independent'],['Dependent']],value=[0,1],inplace=True)
telco['PhoneService'].replace(to_replace=[['PSNo'],['PSYes']],value=[0,1],inplace=True)
telco['PaperlessBilling'].replace(to_replace=[['PLBNo'],['PLBYes']],value=[0,1],inplace=True)
telco['MultipleLines'].replace(to_replace=[['MLNo'],['MLYes']],value=[0,1],inplace=True)
telco['OnlineSecurity'].replace(to_replace=[['OSNo'],['OSYes']],value=[0,1],inplace=True)
telco['OnlineBackup'].replace(to_replace=[['OBNo'],['OBYes']],value=[0,1],inplace=True)
telco['DeviceProtection'].replace(to_replace=[['DPNo'],['DPYes']],value=[0,1],inplace=True)
telco['TechSupport'].replace(to_replace=[['TSNo'],['TSYes']],value=[0,1],inplace=True)
telco['StreamingTV'].replace(to_replace=[['STVNo'],['STVYes']],value=[0,1],inplace=True)
telco['StreamingMovies'].replace(to_replace=[['SMNo'],['SMYes']],value=[0,1],inplace=True)
telco['InternetService'].replace(to_replace=[['DSL'],['Fiber optic'],['No']],value=[0,1,2],inplace=True)
telco['PaymentMethod'].replace(to_replace=[['Electronic check'],['Mailed check'],['Bank transfer (automatic)'],['Credit card (automatic)']],value=[0,1,2,3],inplace=True)
telco['Contract'].replace(to_replace=[['Month-to-month'], ['One year'], ['Two year']],value=[0,1,2],inplace=True)
telco['Churn'].replace(to_replace=[['No'], ['Yes']],value=[0,1],inplace=True)
telco.head()

   gender  SeniorCitizen  Partner  ...  PaymentMethod  MonthlyCharges  Churn
0       0              0        1  ...              0           29.85      0
1       1              0        0  ...              1           56.95      0
2       1              0        0  ...              1           53.85      1
3       1              0        0  ...              2           42.30      0
4       0              0        0  ...              0           70.70      1

[5 rows x 19 columns]

In [0]:
# #telco['TotalCharges'].apply(pd.to_numeric)
# telco['TotalCharges']=telco['TotalCharges'].astype(str)
# list(telco.TotalCharges)
# telco.TotalCharges.dtype

In [7]:
df=telco
df_1=df[df['Churn']==1]
df_0=df[df['Churn']==0]
df.describe()

            gender  SeniorCitizen  ...  MonthlyCharges        Churn
count  7043.000000    7043.000000  ...     7043.000000  7043.000000
mean      0.504756       0.162147  ...       64.761692     0.265370
std       0.500013       0.368612  ...       30.090047     0.441561
min       0.000000       0.000000  ...       18.250000     0.000000
25%       0.000000       0.000000  ...       35.500000     0.000000
50%       1.000000       0.000000  ...       70.350000     0.000000
75%       1.000000       0.000000  ...       89.850000     1.000000
max       1.000000       1.000000  ...      118.750000     1.000000

[8 rows x 19 columns]

# Clustering

In [8]:
!pip install kmodes

Requirement already satisfied: kmodes in /usr/local/lib/python3.6/dist-packages (0.10.1)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.21.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.16.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.3.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.13.2)

# Kmodes clustering

## Kmode clustering for the dataset where Y=0

In [0]:
num_of_clusters=10

In [10]:
from kmodes.kmodes import KModes


km = KModes(n_clusters=num_of_clusters, init='Huang', n_init=5, verbose=1)

clusters = km.fit_predict(df_0)

df_0_centroids=km.cluster_centroids_

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 1382, cost: 29457.0
Run 1, iteration: 2/100, moves: 379, cost: 29454.0
Run 1, iteration: 3/100, moves: 0, cost: 29454.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 1768, cost: 29064.0
Run 2, iteration: 2/100, moves: 36, cost: 29064.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 1666, cost: 29080.0
Run 3, iteration: 2/100, moves: 136, cost: 29080.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 1451, cost: 28358.0
Run 4, iteration: 2/100, moves: 656, cost: 28125.0
Run 4, iteration: 3/100, moves: 138, cost: 28122.0
Run 4, iteration: 4/100, moves: 0, cost: 28122.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 1338, cost: 29138.0
Run 5, iteration: 2/100, moves: 273, cost: 29139.0
Best run was number 4

In [11]:
print("Centroids:\n")
print(df_0_centroids)

Centroids:

[[ 1.    0.    1.    0.   72.    1.    1.    1.    1.    1.    1.    1.
   1.    1.    2.    1.    3.   81.    0.  ]
 [ 1.    0.    0.    0.   72.    1.    0.    0.    1.    1.    1.    1.
   1.    0.    1.    0.    2.   61.35  0.  ]
 [ 0.    0.    0.    0.    2.    1.    1.    1.    1.    0.    0.    0.
   0.    0.    0.    1.    3.   84.05  0.  ]
 [ 1.    0.    0.    0.    9.    1.    1.    1.    0.    0.    0.    0.
   1.    1.    0.    1.    0.   89.2   0.  ]
 [ 0.    0.    1.    1.    3.    1.    0.    0.    0.    0.    0.    0.
   0.    0.    0.    0.    0.   20.45  0.  ]
 [ 0.    0.    0.    0.    1.    1.    0.    0.    0.    1.    0.    0.
   0.    0.    0.    1.    0.   54.75  0.  ]
 [ 0.    0.    0.    0.    2.    1.    0.    2.    0.    0.    0.    0.
   0.    0.    1.    0.    1.   20.05  0.  ]
 [ 0.    0.    1.    1.   72.    1.    1.    2.    0.    0.    0.    0.
   0.    0.    2.    0.    1.   19.7   0.  ]
 [ 1.    0.    1.    1.   10.    1.    0.    2.    0.    0.    0.    0.
   0.    0.    1.    0.    2.   19.6   0.  ]
 [ 1.    0.    0.    0.    1.    1.    0.    2.    0.    0.    0.    0.
   0.    0.    0.    0.    1.   20.05  0.  ]]

## Kmode clustering for the dataset where Y=1

In [12]:
from kmodes.kmodes import KModes


km = KModes(n_clusters=num_of_clusters, init='Huang', n_init=5, verbose=1)

clusters = km.fit_predict(df_1)

df_1_centroids=km.cluster_centroids_

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 789, cost: 8675.0
Run 1, iteration: 2/100, moves: 95, cost: 8675.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 680, cost: 8735.0
Run 2, iteration: 2/100, moves: 167, cost: 8708.0
Run 2, iteration: 3/100, moves: 4, cost: 8708.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 614, cost: 8902.0
Run 3, iteration: 2/100, moves: 302, cost: 8851.0
Run 3, iteration: 3/100, moves: 10, cost: 8851.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 755, cost: 8949.0
Run 4, iteration: 2/100, moves: 255, cost: 8871.0
Run 4, iteration: 3/100, moves: 79, cost: 8871.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 671, cost: 8778.0
Run 5, iteration: 2/100, moves: 10, cost: 8778.0
Best run was number 1

In [13]:
print("Centroids:\n")
print(df_1_centroids)

Centroids:

[[  0.     0.     0.     0.     1.     1.     0.     1.     0.     0.
    0.     0.     0.     0.     0.     0.     0.    20.15   1.  ]
 [  0.     0.     0.     0.     1.     1.     1.     1.     0.     0.
    0.     0.     1.     1.     0.     1.     0.   100.25   1.  ]
 [  1.     0.     0.     0.     1.     1.     0.     0.     0.     0.
    0.     0.     0.     0.     0.     1.     0.    45.3    1.  ]
 [  1.     0.     0.     0.     1.     1.     1.     1.     0.     0.
    0.     0.     0.     0.     0.     1.     0.    74.4    1.  ]
 [  1.     1.     0.     0.     5.     1.     0.     1.     0.     0.
    0.     0.     1.     1.     0.     1.     0.    89.5    1.  ]
 [  1.     0.     1.     0.    66.     1.     1.     1.     0.     1.
    1.     0.     1.     1.     0.     1.     0.    99.5    1.  ]
 [  1.     0.     1.     1.     1.     1.     0.     0.     1.     0.
    0.     0.     0.     0.     0.     0.     0.    55.9    1.  ]
 [  1.     1.     0.     0.     2.     0.     0.     0.     0.     0.
    0.     0.     0.     0.     0.     1.     1.    25.05   1.  ]
 [  0.     0.     0.     0.     2.     1.     0.     1.     0.     0.
    0.     0.     0.     0.     0.     1.     3.    70.7    1.  ]
 [  1.     1.     0.     0.     1.     1.     1.     1.     0.     0.
    1.     0.     1.     0.     0.     1.     0.    85.45   1.  ]]

# Kprotoypes clustering

## Kprotoypes clustering for the dataset where Y=0

In [14]:
import numpy as np
from kmodes.kprototypes import KPrototypes


kproto = KPrototypes(n_clusters=num_of_clusters, init='Cao', verbose=2)
clusters = kproto.fit_predict(df_0, categorical=[0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,18])


# Print cluster centroids of the trained model.

print(kproto.cluster_centroids_)
# Print training statistics
print(kproto.cost_)
print(kproto.n_iter_)

Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 1635, ncost: 978027.60476067
Run: 1, iteration: 2/100, moves: 486, ncost: 947911.5833341803
Run: 1, iteration: 3/100, moves: 248, ncost: 933764.7894540105
Run: 1, iteration: 4/100, moves: 195, ncost: 923198.7809068982
Run: 1, iteration: 5/100, moves: 164, ncost: 916582.1031382347
Run: 1, iteration: 6/100, moves: 141, ncost: 912486.6123016584
Run: 1, iteration: 7/100, moves: 143, ncost: 908585.91141114
Run: 1, iteration: 8/100, moves: 124, ncost: 906162.2908130611
Run: 1, iteration: 9/100, moves: 83, ncost: 904762.4803290876
Run: 1, iteration: 10/100, moves: 58, ncost: 904262.8964913464
Run: 1, iteration: 11/100, moves: 32, ncost: 903611.0576263013
Run: 1, iteration: 12/100, moves: 28, ncost: 903084.4404847897
Run: 1, iteration: 13/100, moves: 10, ncost: 903032.3821984037
Run: 1, iteration: 14/100, moves: 8, ncost: 902998.9009737209
Run: 1, iteration: 15/100, moves: 8, ncost: 902973.4385650151
Run: 1, iteration: 16/100, moves: 4, ncost: 902957.6094720942
Run: 1, iteration: 17/100, moves: 2, ncost: 902954.6823238299
Run: 1, iteration: 18/100, moves: 0, ncost: 902954.6823238299
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 1345, ncost: 983753.0026117351
Run: 2, iteration: 2/100, moves: 599, ncost: 923682.7546560873
Run: 2, iteration: 3/100, moves: 445, ncost: 885854.4586411586
Run: 2, iteration: 4/100, moves: 258, ncost: 877389.8194929314
Run: 2, iteration: 5/100, moves: 105, ncost: 875845.5740119125
Run: 2, iteration: 6/100, moves: 55, ncost: 875428.9477839611
Run: 2, iteration: 7/100, moves: 45, ncost: 875047.3849864029
Run: 2, iteration: 8/100, moves: 13, ncost: 874989.0174234041
Run: 2, iteration: 9/100, moves: 5, ncost: 874976.2635748093
Run: 2, iteration: 10/100, moves: 0, ncost: 874976.2635748093
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 988, ncost: 991341.25845317
Run: 3, iteration: 2/100, moves: 398, ncost: 971680.473271
Run: 3, iteration: 3/100, moves: 251, ncost: 961000.6180015503
Run: 3, iteration: 4/100, moves: 198, ncost: 953048.516412106
Run: 3, iteration: 5/100, moves: 202, ncost: 945304.2941367676
Run: 3, iteration: 6/100, moves: 187, ncost: 936800.6168981326
Run: 3, iteration: 7/100, moves: 210, ncost: 923165.916973211
Run: 3, iteration: 8/100, moves: 186, ncost: 914085.080945687
Run: 3, iteration: 9/100, moves: 132, ncost: 909410.7291038813
Run: 3, iteration: 10/100, moves: 117, ncost: 905971.3073939201
Run: 3, iteration: 11/100, moves: 76, ncost: 904639.6013113029
Run: 3, iteration: 12/100, moves: 59, ncost: 903964.1066539255
Run: 3, iteration: 13/100, moves: 47, ncost: 902922.2098231469
Run: 3, iteration: 14/100, moves: 28, ncost: 902729.9203076877
Run: 3, iteration: 15/100, moves: 19, ncost: 902624.1760843594
Run: 3, iteration: 16/100, moves: 24, ncost: 902485.0397377685
Run: 3, iteration: 17/100, moves: 15, ncost: 902441.2255291754
Run: 3, iteration: 18/100, moves: 14, ncost: 902331.8617227863
Run: 3, iteration: 19/100, moves: 24, ncost: 902135.3113576813
Run: 3, iteration: 20/100, moves: 7, ncost: 902093.3616079685
Run: 3, iteration: 21/100, moves: 13, ncost: 901873.3559708294
Run: 3, iteration: 22/100, moves: 27, ncost: 901566.4294254472
Run: 3, iteration: 23/100, moves: 37, ncost: 900793.9659505533
Run: 3, iteration: 24/100, moves: 20, ncost: 900642.4623376455
Run: 3, iteration: 25/100, moves: 11, ncost: 900613.0951208738
Run: 3, iteration: 26/100, moves: 9, ncost: 900562.7281642446
Run: 3, iteration: 27/100, moves: 8, ncost: 900539.9610191284
Run: 3, iteration: 28/100, moves: 6, ncost: 900518.8943344204
Run: 3, iteration: 29/100, moves: 8, ncost: 900492.6941261379
Run: 3, iteration: 30/100, moves: 12, ncost: 900355.6453066991
Run: 3, iteration: 31/100, moves: 12, ncost: 900320.4145614863
Run: 3, iteration: 32/100, moves: 4, ncost: 900310.5888887154
Run: 3, iteration: 33/100, moves: 4, ncost: 900300.6168461265
Run: 3, iteration: 34/100, moves: 2, ncost: 900296.44705453
Run: 3, iteration: 35/100, moves: 1, ncost: 900293.9128675044
Run: 3, iteration: 36/100, moves: 2, ncost: 900289.1575631885
Run: 3, iteration: 37/100, moves: 0, ncost: 900289.1575631885
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 1087, ncost: 932824.7386245601
Run: 4, iteration: 2/100, moves: 396, ncost: 913366.9398216864
Run: 4, iteration: 3/100, moves: 196, ncost: 908014.8061135995
Run: 4, iteration: 4/100, moves: 111, ncost: 906191.9290645085
Run: 4, iteration: 5/100, moves: 88, ncost: 905078.6523832133
Run: 4, iteration: 6/100, moves: 54, ncost: 904503.084924313
Run: 4, iteration: 7/100, moves: 45, ncost: 903977.5842463576
Run: 4, iteration: 8/100, moves: 61, ncost: 903173.667927685
Run: 4, iteration: 9/100, moves: 36, ncost: 902681.3386837201
Run: 4, iteration: 10/100, moves: 23, ncost: 902580.4817086848
Run: 4, iteration: 11/100, moves: 24, ncost: 902494.0203132295
Run: 4, iteration: 12/100, moves: 11, ncost: 902456.71726039
Run: 4, iteration: 13/100, moves: 18, ncost: 902331.9802855947
Run: 4, iteration: 14/100, moves: 20, ncost: 902231.699202325
Run: 4, iteration: 15/100, moves: 11, ncost: 902186.1228491232
Run: 4, iteration: 16/100, moves: 21, ncost: 902041.1027449163
Run: 4, iteration: 17/100, moves: 18, ncost: 901794.8247847776
Run: 4, iteration: 18/100, moves: 31, ncost: 901088.4757774611
Run: 4, iteration: 19/100, moves: 33, ncost: 900691.3764507608
Run: 4, iteration: 20/100, moves: 14, ncost: 900626.684270981
Run: 4, iteration: 21/100, moves: 8, ncost: 900588.149577918
Run: 4, iteration: 22/100, moves: 12, ncost: 900432.3678052911
Run: 4, iteration: 23/100, moves: 6, ncost: 900409.8198062757
Run: 4, iteration: 24/100, moves: 4, ncost: 900401.6003101484
Run: 4, iteration: 25/100, moves: 4, ncost: 900392.8519605914
Run: 4, iteration: 26/100, moves: 6, ncost: 900375.9232777952
Run: 4, iteration: 27/100, moves: 4, ncost: 900367.6234593693
Run: 4, iteration: 28/100, moves: 9, ncost: 900301.2745043811
Run: 4, iteration: 29/100, moves: 5, ncost: 900294.9941802046
Run: 4, iteration: 30/100, moves: 0, ncost: 900294.9941802046
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 1087, ncost: 970726.7972750191
Run: 5, iteration: 2/100, moves: 424, ncost: 913336.8830313057
Run: 5, iteration: 3/100, moves: 316, ncost: 888979.5133137081
Run: 5, iteration: 4/100, moves: 193, ncost: 882390.4925580821
Run: 5, iteration: 5/100, moves: 152, ncost: 877868.3215620458
Run: 5, iteration: 6/100, moves: 87, ncost: 876215.4879254941
Run: 5, iteration: 7/100, moves: 46, ncost: 875675.4405486534
Run: 5, iteration: 8/100, moves: 36, ncost: 875369.1308742702
Run: 5, iteration: 9/100, moves: 25, ncost: 875141.0332615214
Run: 5, iteration: 10/100, moves: 12, ncost: 875106.1120986772
Run: 5, iteration: 11/100, moves: 7, ncost: 875082.9461396394
Run: 5, iteration: 12/100, moves: 3, ncost: 875078.0757695145
Run: 5, iteration: 13/100, moves: 1, ncost: 875076.6241073052
Run: 5, iteration: 14/100, moves: 0, ncost: 875076.6241073052
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 1184, ncost: 1029639.7190977837
Run: 6, iteration: 2/100, moves: 537, ncost: 964857.6413262014
Run: 6, iteration: 3/100, moves: 371, ncost: 936005.0818802151
Run: 6, iteration: 4/100, moves: 207, ncost: 926954.4728591976
Run: 6, iteration: 5/100, moves: 143, ncost: 923306.2230646217
Run: 6, iteration: 6/100, moves: 86, ncost: 920924.3491691336
Run: 6, iteration: 7/100, moves: 69, ncost: 919764.605111093
Run: 6, iteration: 8/100, moves: 42, ncost: 919307.4604606002
Run: 6, iteration: 9/100, moves: 23, ncost: 919178.200517566
Run: 6, iteration: 10/100, moves: 12, ncost: 919133.4577081808
Run: 6, iteration: 11/100, moves: 8, ncost: 919114.027746797
Run: 6, iteration: 12/100, moves: 1, ncost: 919113.3407467684
Run: 6, iteration: 13/100, moves: 0, ncost: 919113.3407467684
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 994, ncost: 1021994.0052263684
Run: 7, iteration: 2/100, moves: 430, ncost: 979363.1633425464
Run: 7, iteration: 3/100, moves: 437, ncost: 944083.6320616344
Run: 7, iteration: 4/100, moves: 223, ncost: 935938.9324401906
Run: 7, iteration: 5/100, moves: 128, ncost: 932813.0265197089
Run: 7, iteration: 6/100, moves: 66, ncost: 931999.411478433
Run: 7, iteration: 7/100, moves: 42, ncost: 931587.3436053944
Run: 7, iteration: 8/100, moves: 31, ncost: 931334.0304634424
Run: 7, iteration: 9/100, moves: 24, ncost: 931173.9960205636
Run: 7, iteration: 10/100, moves: 22, ncost: 930998.4497512351
Run: 7, iteration: 11/100, moves: 16, ncost: 930933.9210706393
Run: 7, iteration: 12/100, moves: 6, ncost: 930915.7541276645
Run: 7, iteration: 13/100, moves: 8, ncost: 930888.0163987086
Run: 7, iteration: 14/100, moves: 1, ncost: 930886.4477980214
Run: 7, iteration: 15/100, moves: 1, ncost: 930885.4385100931
Run: 7, iteration: 16/100, moves: 0, ncost: 930885.4385100931
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 1266, ncost: 1112511.198076334
Run: 8, iteration: 2/100, moves: 859, ncost: 991155.7918343621
Run: 8, iteration: 3/100, moves: 421, ncost: 969592.2131465103
Run: 8, iteration: 4/100, moves: 270, ncost: 957306.562979368
Run: 8, iteration: 5/100, moves: 213, ncost: 947758.2956764946
Run: 8, iteration: 6/100, moves: 172, ncost: 940138.5158207734
Run: 8, iteration: 7/100, moves: 167, ncost: 930738.4910187244
Run: 8, iteration: 8/100, moves: 203, ncost: 918083.8955929512
Run: 8, iteration: 9/100, moves: 161, ncost: 911345.0687571099
Run: 8, iteration: 10/100, moves: 124, ncost: 907493.3547984699
Run: 8, iteration: 11/100, moves: 89, ncost: 905471.6575362217
Run: 8, iteration: 12/100, moves: 74, ncost: 904211.7637634752
Run: 8, iteration: 13/100, moves: 55, ncost: 903056.746022747
Run: 8, iteration: 14/100, moves: 30, ncost: 902793.3766462934
Run: 8, iteration: 15/100, moves: 29, ncost: 902644.1867415741
Run: 8, iteration: 16/100, moves: 20, ncost: 902529.1097607675
Run: 8, iteration: 17/100, moves: 12, ncost: 902478.5101587191
Run: 8, iteration: 18/100, moves: 27, ncost: 902257.7049908375
Run: 8, iteration: 19/100, moves: 22, ncost: 902130.7187870629
Run: 8, iteration: 20/100, moves: 18, ncost: 902010.7792937851
Run: 8, iteration: 21/100, moves: 16, ncost: 901865.857329644
Run: 8, iteration: 22/100, moves: 27, ncost: 901122.4907727105
Run: 8, iteration: 23/100, moves: 36, ncost: 900692.1284602958
Run: 8, iteration: 24/100, moves: 15, ncost: 900633.4014081578
Run: 8, iteration: 25/100, moves: 6, ncost: 900614.4481633208
Run: 8, iteration: 26/100, moves: 9, ncost: 900562.4250908899
Run: 8, iteration: 27/100, moves: 7, ncost: 900543.7320688338
Run: 8, iteration: 28/100, moves: 4, ncost: 900529.9669287943
Run: 8, iteration: 29/100, moves: 5, ncost: 900513.4191927104
Run: 8, iteration: 30/100, moves: 6, ncost: 900491.895761804
Run: 8, iteration: 31/100, moves: 11, ncost: 900355.6453066992
Run: 8, iteration: 32/100, moves: 12, ncost: 900320.4145614861
Run: 8, iteration: 33/100, moves: 4, ncost: 900310.5888887143
Run: 8, iteration: 34/100, moves: 4, ncost: 900300.6168461255
Run: 8, iteration: 35/100, moves: 2, ncost: 900296.4470545292
Run: 8, iteration: 36/100, moves: 1, ncost: 900293.9128675039
Run: 8, iteration: 37/100, moves: 2, ncost: 900289.1575631883
Run: 8, iteration: 38/100, moves: 0, ncost: 900289.1575631883
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 1437, ncost: 1046987.6252263112
Run: 9, iteration: 2/100, moves: 656, ncost: 990452.2982336114
Run: 9, iteration: 3/100, moves: 324, ncost: 972965.6666832737
Run: 9, iteration: 4/100, moves: 138, ncost: 969897.6766852997
Run: 9, iteration: 5/100, moves: 107, ncost: 967128.8826984966
Run: 9, iteration: 6/100, moves: 83, ncost: 965125.2635126465
Run: 9, iteration: 7/100, moves: 109, ncost: 962678.2447642991
Run: 9, iteration: 8/100, moves: 101, ncost: 960904.3542473007
Run: 9, iteration: 9/100, moves: 63, ncost: 960056.0113052315
Run: 9, iteration: 10/100, moves: 42, ncost: 959611.0409661498
Run: 9, iteration: 11/100, moves: 37, ncost: 959185.5368563908
Run: 9, iteration: 12/100, moves: 57, ncost: 957963.8745501464
Run: 9, iteration: 13/100, moves: 47, ncost: 956926.303498428
Run: 9, iteration: 14/100, moves: 55, ncost: 954774.3924176934
Run: 9, iteration: 15/100, moves: 83, ncost: 951660.4046807667
Run: 9, iteration: 16/100, moves: 74, ncost: 949626.9715396353
Run: 9, iteration: 17/100, moves: 74, ncost: 947584.9567650357
Run: 9, iteration: 18/100, moves: 92, ncost: 944538.6738192085
Run: 9, iteration: 19/100, moves: 102, ncost: 939468.9558824982
Run: 9, iteration: 20/100, moves: 83, ncost: 938014.2746834449
Run: 9, iteration: 21/100, moves: 55, ncost: 937329.9180770578
Run: 9, iteration: 22/100, moves: 39, ncost: 936836.2591012748
Run: 9, iteration: 23/100, moves: 38, ncost: 936465.3251805677
Run: 9, iteration: 24/100, moves: 35, ncost: 936097.2629192072
Run: 9, iteration: 25/100, moves: 56, ncost: 934640.0170029805
Run: 9, iteration: 26/100, moves: 76, ncost: 932491.8148592042
Run: 9, iteration: 27/100, moves: 71, ncost: 930830.1060333861
Run: 9, iteration: 28/100, moves: 58, ncost: 929894.6361118658
Run: 9, iteration: 29/100, moves: 56, ncost: 928969.3073630908
Run: 9, iteration: 30/100, moves: 39, ncost: 928724.3397036835
Run: 9, iteration: 31/100, moves: 11, ncost: 928687.4001126098
Run: 9, iteration: 32/100, moves: 24, ncost: 928390.5090235071
Run: 9, iteration: 33/100, moves: 21, ncost: 928258.012977871
Run: 9, iteration: 34/100, moves: 14, ncost: 928164.0682045567
Run: 9, iteration: 35/100, moves: 8, ncost: 928136.1144836221
Run: 9, iteration: 36/100, moves: 5, ncost: 928121.1024299352
Run: 9, iteration: 37/100, moves: 1, ncost: 928120.096186374
Run: 9, iteration: 38/100, moves: 1, ncost: 928119.1094294396
Run: 9, iteration: 39/100, moves: 0, ncost: 928119.1094294396
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 1245, ncost: 1027003.45343488
Run: 10, iteration: 2/100, moves: 645, ncost: 974927.4536136701
Run: 10, iteration: 3/100, moves: 335, ncost: 956706.4074096748
Run: 10, iteration: 4/100, moves: 245, ncost: 946728.436349311
Run: 10, iteration: 5/100, moves: 180, ncost: 940340.444728709
Run: 10, iteration: 6/100, moves: 110, ncost: 938263.5567025464
Run: 10, iteration: 7/100, moves: 68, ncost: 937214.7288036959
Run: 10, iteration: 8/100, moves: 90, ncost: 933863.7824508838
Run: 10, iteration: 9/100, moves: 80, ncost: 932058.235071985
Run: 10, iteration: 10/100, moves: 42, ncost: 931742.4294340789
Run: 10, iteration: 11/100, moves: 19, ncost: 931652.7889469551
Run: 10, iteration: 12/100, moves: 15, ncost: 931587.5158927295
Run: 10, iteration: 13/100, moves: 25, ncost: 931203.7903344665
Run: 10, iteration: 14/100, moves: 23, ncost: 931110.5678311146
Run: 10, iteration: 15/100, moves: 7, ncost: 931077.4293578328
Run: 10, iteration: 16/100, moves: 9, ncost: 931017.9785290711
Run: 10, iteration: 17/100, moves: 6, ncost: 930998.8713375385
Run: 10, iteration: 18/100, moves: 3, ncost: 930991.1153742789
Run: 10, iteration: 19/100, moves: 2, ncost: 930989.2738797269
Run: 10, iteration: 20/100, moves: 0, ncost: 930989.2738797269
Best run was number 2
[array([[ 64.76324503, 106.28203642],
       [ 11.32915921,  80.00483005],
       [ 35.22457627,  23.64841102],
       [ 62.09660574,  59.44190601],
       [ 35.57855823,  93.8792976 ],
       [  8.63597734,  21.81487252],
       [ 63.59964093,  84.17639138],
       [ 63.11378556,  23.10897155],
       [ 34.67619048,  61.17083333],
       [  9.16      ,  52.23494737]]), array([[0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 2., 1., 3.,
        0.],
       [0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.],
       [0., 0., 1., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 2., 0., 1.,
        0.],
       [1., 0., 1., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 2., 1., 2.,
        0.],
       [1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0.,
        0.],
       [1., 0., 0., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0.],
       [1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 2., 1., 3.,
        0.],
       [1., 0., 1., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 2., 0., 2.,
        0.],
       [0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 3.,
        0.],
       [1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
        0.]])]
874976.2635748093
10

In [0]:
y0_centroids=kproto.cluster_centroids_

In [16]:
for i in range(5):
  print("\nCentroid:",i+1,"\n")
  print("\nCentroid:",i+1,"\n\n(Numeric)\t\t\t\t\t\t(Categorical)\n")
  print(list(np.rint(np.around(kproto.cluster_centroids_[0][i],1))), end=' ')
  print(list(np.rint(np.around(kproto.cluster_centroids_[1][i],1))))

Centroid: 1


Centroid: 1

(Numeric)						(Categorical)

[65.0, 106.0] [0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 3.0, 0.0]

Centroid: 2


Centroid: 2

(Numeric)						(Categorical)

[11.0, 80.0] [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0]

Centroid: 3


Centroid: 3

(Numeric)						(Categorical)

[35.0, 24.0] [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 1.0, 0.0]

Centroid: 4


Centroid: 4

(Numeric)						(Categorical)

[62.0, 59.0] [1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 2.0, 1.0, 2.0, 0.0]

Centroid: 5


Centroid: 5

(Numeric)						(Categorical)

[36.0, 94.0] [1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0]

#### Kprototypes clustering for the dataset where Y=1

In [17]:
import numpy as np
from kmodes.kprototypes import KPrototypes


kproto = KPrototypes(n_clusters=num_of_clusters, init='Cao', verbose=2)
clusters = kproto.fit_predict(df_1, categorical=[0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,18])


# Print cluster centroids of the trained model.
print(kproto.cluster_centroids_)
# Print training statistics
print(kproto.cost_)
print(kproto.n_iter_)

Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 482, ncost: 266351.12266591704
Run: 1, iteration: 2/100, moves: 219, ncost: 255482.92424833463
Run: 1, iteration: 3/100, moves: 136, ncost: 251618.996578973
Run: 1, iteration: 4/100, moves: 36, ncost: 251211.296703454
Run: 1, iteration: 5/100, moves: 8, ncost: 251161.7678041617
Run: 1, iteration: 6/100, moves: 4, ncost: 251145.5464569469
Run: 1, iteration: 7/100, moves: 1, ncost: 251140.89066040106
Run: 1, iteration: 8/100, moves: 3, ncost: 251131.6344529167
Run: 1, iteration: 9/100, moves: 6, ncost: 251105.05113369858
Run: 1, iteration: 10/100, moves: 3, ncost: 251096.5806356595
Run: 1, iteration: 11/100, moves: 6, ncost: 251025.72429252864
Run: 1, iteration: 12/100, moves: 3, ncost: 251015.24639840485
Run: 1, iteration: 13/100, moves: 1, ncost: 251014.22380698868
Run: 1, iteration: 14/100, moves: 0, ncost: 251014.22380698868
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 725, ncost: 276671.4511995353
Run: 2, iteration: 2/100, moves: 187, ncost: 266947.8609783614
Run: 2, iteration: 3/100, moves: 100, ncost: 260967.5832046595
Run: 2, iteration: 4/100, moves: 71, ncost: 258491.09430004738
Run: 2, iteration: 5/100, moves: 55, ncost: 255659.94348794958
Run: 2, iteration: 6/100, moves: 44, ncost: 254476.70843908045
Run: 2, iteration: 7/100, moves: 20, ncost: 254271.81497264898
Run: 2, iteration: 8/100, moves: 1, ncost: 254267.15459637856
Run: 2, iteration: 9/100, moves: 2, ncost: 254263.89740961953
Run: 2, iteration: 10/100, moves: 1, ncost: 254263.0320002796
Run: 2, iteration: 11/100, moves: 1, ncost: 254262.64967846803
Run: 2, iteration: 12/100, moves: 0, ncost: 254262.64967846803
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 576, ncost: 302625.3181561075
Run: 3, iteration: 2/100, moves: 358, ncost: 265213.0535708805
Run: 3, iteration: 3/100, moves: 124, ncost: 258396.91768404446
Run: 3, iteration: 4/100, moves: 49, ncost: 257055.44056702981
Run: 3, iteration: 5/100, moves: 37, ncost: 255675.59754203507
Run: 3, iteration: 6/100, moves: 22, ncost: 255270.96253573062
Run: 3, iteration: 7/100, moves: 26, ncost: 254787.47298417074
Run: 3, iteration: 8/100, moves: 13, ncost: 254615.9720214572
Run: 3, iteration: 9/100, moves: 5, ncost: 254599.2836193553
Run: 3, iteration: 10/100, moves: 5, ncost: 254575.4031443171
Run: 3, iteration: 11/100, moves: 4, ncost: 254562.4198729202
Run: 3, iteration: 12/100, moves: 5, ncost: 254554.68634506658
Run: 3, iteration: 13/100, moves: 0, ncost: 254554.68634506658
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 520, ncost: 277187.77723419986
Run: 4, iteration: 2/100, moves: 175, ncost: 268838.87315615633
Run: 4, iteration: 3/100, moves: 97, ncost: 266118.64780536963
Run: 4, iteration: 4/100, moves: 48, ncost: 264920.6391677922
Run: 4, iteration: 5/100, moves: 46, ncost: 263954.0108130558
Run: 4, iteration: 6/100, moves: 24, ncost: 263477.88865830377
Run: 4, iteration: 7/100, moves: 19, ncost: 263261.4891365235
Run: 4, iteration: 8/100, moves: 8, ncost: 263230.2573477924
Run: 4, iteration: 9/100, moves: 7, ncost: 263217.17170851934
Run: 4, iteration: 10/100, moves: 1, ncost: 263216.7316066772
Run: 4, iteration: 11/100, moves: 0, ncost: 263216.7316066772
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 507, ncost: 265343.85590076953
Run: 5, iteration: 2/100, moves: 157, ncost: 256411.6986571377
Run: 5, iteration: 3/100, moves: 62, ncost: 254174.21750848065
Run: 5, iteration: 4/100, moves: 32, ncost: 253679.48180996173
Run: 5, iteration: 5/100, moves: 20, ncost: 253429.15626235402
Run: 5, iteration: 6/100, moves: 5, ncost: 253403.2821432764
Run: 5, iteration: 7/100, moves: 4, ncost: 253361.9897989442
Run: 5, iteration: 8/100, moves: 20, ncost: 253022.6892393709
Run: 5, iteration: 9/100, moves: 2, ncost: 253018.41623443653
Run: 5, iteration: 10/100, moves: 0, ncost: 253018.41623443653
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 473, ncost: 328233.3676738897
Run: 6, iteration: 2/100, moves: 267, ncost: 308682.1128432916
Run: 6, iteration: 3/100, moves: 217, ncost: 299683.04008883395
Run: 6, iteration: 4/100, moves: 160, ncost: 289096.88732518465
Run: 6, iteration: 5/100, moves: 211, ncost: 261247.12580695096
Run: 6, iteration: 6/100, moves: 158, ncost: 251117.6040439683
Run: 6, iteration: 7/100, moves: 72, ncost: 249869.45959727396
Run: 6, iteration: 8/100, moves: 24, ncost: 249707.67079860275
Run: 6, iteration: 9/100, moves: 19, ncost: 249522.67013033963
Run: 6, iteration: 10/100, moves: 18, ncost: 249366.9425684917
Run: 6, iteration: 11/100, moves: 6, ncost: 249349.67271226458
Run: 6, iteration: 12/100, moves: 7, ncost: 249326.07324512524
Run: 6, iteration: 13/100, moves: 1, ncost: 249325.19281956553
Run: 6, iteration: 14/100, moves: 0, ncost: 249325.19281956553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 467, ncost: 261861.57199636893
Run: 7, iteration: 2/100, moves: 94, ncost: 257455.22241573766
Run: 7, iteration: 3/100, moves: 57, ncost: 255340.95615748092
Run: 7, iteration: 4/100, moves: 59, ncost: 253384.42099059967
Run: 7, iteration: 5/100, moves: 35, ncost: 252030.75883061145
Run: 7, iteration: 6/100, moves: 21, ncost: 251712.98470828176
Run: 7, iteration: 7/100, moves: 17, ncost: 251573.8368467553
Run: 7, iteration: 8/100, moves: 14, ncost: 251435.6926903233
Run: 7, iteration: 9/100, moves: 12, ncost: 251231.3570503489
Run: 7, iteration: 10/100, moves: 9, ncost: 251174.6942553894
Run: 7, iteration: 11/100, moves: 3, ncost: 251166.38743540124
Run: 7, iteration: 12/100, moves: 0, ncost: 251166.38743540124
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 675, ncost: 341689.1859581009
Run: 8, iteration: 2/100, moves: 324, ncost: 306097.433346671
Run: 8, iteration: 3/100, moves: 277, ncost: 280052.9409824689
Run: 8, iteration: 4/100, moves: 299, ncost: 253403.34889901278
Run: 8, iteration: 5/100, moves: 86, ncost: 251915.56779717418
Run: 8, iteration: 6/100, moves: 31, ncost: 251578.73382260147
Run: 8, iteration: 7/100, moves: 13, ncost: 251512.34327177895
Run: 8, iteration: 8/100, moves: 3, ncost: 251491.10778547413
Run: 8, iteration: 9/100, moves: 3, ncost: 251480.81701415876
Run: 8, iteration: 10/100, moves: 1, ncost: 251480.10163145626
Run: 8, iteration: 11/100, moves: 0, ncost: 251480.10163145626
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 507, ncost: 297074.5229495117
Run: 9, iteration: 2/100, moves: 201, ncost: 274876.743132185
Run: 9, iteration: 3/100, moves: 189, ncost: 250956.4274936078
Run: 9, iteration: 4/100, moves: 45, ncost: 250241.3739821808
Run: 9, iteration: 5/100, moves: 14, ncost: 250080.36859160045
Run: 9, iteration: 6/100, moves: 20, ncost: 249858.10276075584
Run: 9, iteration: 7/100, moves: 20, ncost: 249659.99322471174
Run: 9, iteration: 8/100, moves: 11, ncost: 249605.9050815994
Run: 9, iteration: 9/100, moves: 5, ncost: 249583.16594541076
Run: 9, iteration: 10/100, moves: 4, ncost: 249574.0250891089
Run: 9, iteration: 11/100, moves: 0, ncost: 249574.0250891089
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 478, ncost: 274541.1018103193
Run: 10, iteration: 2/100, moves: 162, ncost: 266710.26450365444
Run: 10, iteration: 3/100, moves: 82, ncost: 263673.4324528617
Run: 10, iteration: 4/100, moves: 46, ncost: 262500.0618697465
Run: 10, iteration: 5/100, moves: 41, ncost: 261264.16530397613
Run: 10, iteration: 6/100, moves: 41, ncost: 259875.07982499324
Run: 10, iteration: 7/100, moves: 29, ncost: 259021.73860854967
Run: 10, iteration: 8/100, moves: 11, ncost: 258938.46180830142
Run: 10, iteration: 9/100, moves: 7, ncost: 258923.63236601508
Run: 10, iteration: 10/100, moves: 1, ncost: 258919.84558108894
Run: 10, iteration: 11/100, moves: 0, ncost: 258919.84558108894
Best run was number 6
[array([[ 42.125     , 101.79833333],
       [  3.02513966,  74.67555866],
       [ 47.3015873 ,  45.5468254 ],
       [ 22.31428571,  96.75      ],
       [  5.07650273,  23.95382514],
       [ 39.95867769,  79.5053719 ],
       [  6.19063545,  92.3590301 ],
       [ 17.29605263,  77.69375   ],
       [  6.14341085,  49.18062016],
       [ 62.50714286, 101.88142857]]), array([[1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0.,
        1.],
       [0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
        1.],
       [0., 0., 0., 0., 1., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        1.],
       [0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0.,
        1.],
       [1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1.],
       [1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0.,
        1.]])]
249325.19281956553
14

In [18]:
for i in range(num_of_clusters):
  print("\nCentroid:",i+1,"\n\n(Numeric)\t\t\t\t\t\t(Categorical)\n")
  print(list(np.rint(np.around(kproto.cluster_centroids_[0][i],1))), end=' ')
  print(list(np.rint(np.around(kproto.cluster_centroids_[1][i],1))))

Centroid: 1

(Numeric)						(Categorical)

[42.0, 102.0] [1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 2

(Numeric)						(Categorical)

[3.0, 75.0] [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 3

(Numeric)						(Categorical)

[47.0, 46.0] [1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 4

(Numeric)						(Categorical)

[22.0, 97.0] [1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 5

(Numeric)						(Categorical)

[5.0, 24.0] [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0]

Centroid: 6

(Numeric)						(Categorical)

[40.0, 80.0] [0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 7

(Numeric)						(Categorical)

[6.0, 92.0] [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 8

(Numeric)						(Categorical)

[17.0, 78.0] [1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 9

(Numeric)						(Categorical)

[6.0, 49.0] [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]

Centroid: 10

(Numeric)						(Categorical)

[62.0, 102.0] [1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0]

# Rules from clustering:

## When Churn = 1

In [19]:
clustering_rules_categorical=pd.DataFrame(kproto.cluster_centroids_[1])
clustering_rules_categorical.rename(columns = {0:'gender',	1:'SeniorCitizen',2:	'Partner',3:'Dependents',4:'PhoneService',	5:'MultipleLines',	6:'InternetService'	,7:'OnlineSecurity',	8:'OnlineBackup',	9:'DeviceProtection'	,10:'TechSupport'	,11:'StreamingTV',	12:'StreamingMovies'	,13:'Contract'	,14:'PaperlessBilling'	,15:'PaymentMethod', 16:'Churn'}, inplace = True) 
clustering_rules_numeric=pd.DataFrame(kproto.cluster_centroids_[0])
clustering_rules_numeric.rename(columns = {0:'tenure',1:'MonthlyCharges'}, inplace = True) 
clustering_rules_1=pd.concat([clustering_rules_numeric, clustering_rules_categorical], axis=1, join='inner')
clustering_rules_1

      tenure  MonthlyCharges  gender  ...  PaperlessBilling  PaymentMethod  Churn
0  42.125000      101.798333     1.0  ...               1.0            0.0    1.0
1   3.025140       74.675559     0.0  ...               1.0            0.0    1.0
2  47.301587       45.546825     1.0  ...               1.0            0.0    1.0
3  22.314286       96.750000     1.0  ...               1.0            0.0    1.0
4   5.076503       23.953825     0.0  ...               0.0            1.0    1.0
5  39.958678       79.505372     0.0  ...               1.0            0.0    1.0
6   6.190635       92.359030     0.0  ...               1.0            0.0    1.0
7  17.296053       77.693750     1.0  ...               1.0            0.0    1.0
8   6.143411       49.180620     1.0  ...               1.0            0.0    1.0
9  62.507143      101.881429     1.0  ...               1.0            0.0    1.0

[10 rows x 19 columns]

## When Churn =0

In [20]:
clustering_rules_categorical=pd.DataFrame(y0_centroids[1])
clustering_rules_categorical.rename(columns = {0:'gender',	1:'SeniorCitizen',2:	'Partner',3:'Dependents',4:'PhoneService',	5:'MultipleLines',	6:'InternetService'	,7:'OnlineSecurity',	8:'OnlineBackup',	9:'DeviceProtection'	,10:'TechSupport'	,11:'StreamingTV',	12:'StreamingMovies'	,13:'Contract'	,14:'PaperlessBilling'	,15:'PaymentMethod', 16:'Churn'}, inplace = True) 
clustering_rules_numeric=pd.DataFrame(y0_centroids[0])
clustering_rules_numeric.rename(columns = {0:'tenure',1:'MonthlyCharges'}, inplace = True) 
clustering_rules_0=pd.concat([clustering_rules_numeric, clustering_rules_categorical], axis=1, join='inner')
clustering_rules_0

      tenure  MonthlyCharges  gender  ...  PaperlessBilling  PaymentMethod  Churn
0  64.763245      106.282036     0.0  ...               1.0            3.0    0.0
1  11.329159       80.004830     0.0  ...               1.0            0.0    0.0
2  35.224576       23.648411     0.0  ...               0.0            1.0    0.0
3  62.096606       59.441906     1.0  ...               1.0            2.0    0.0
4  35.578558       93.879298     1.0  ...               1.0            0.0    0.0
5   8.635977       21.814873     1.0  ...               0.0            1.0    0.0
6  63.599641       84.176391     1.0  ...               1.0            3.0    0.0
7  63.113786       23.108972     1.0  ...               0.0            2.0    0.0
8  34.676190       61.170833     0.0  ...               1.0            3.0    0.0
9   9.160000       52.234947     1.0  ...               1.0            1.0    0.0

[10 rows x 19 columns]

## Association Rule Mining: (on the rules we got from clustering)

## When Churn=0

In [0]:
from mlxtend.frequent_patterns import apriori, association_rules

def hot_encode(x): 
    if(x<= 0): 
        return 0
    if(x>= 1): 
        return 1
  
# Encoding the datasets 
df_0_encoded =clustering_rules_0.applymap(hot_encode)

In [0]:
# Building the model when Churn=1
frq_items = apriori(df_0_encoded, min_support = 0.05, use_colnames = True) 

# Collecting the inferred rules in a dataframe 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules.head()

In [0]:
# from mlxtend.frequent_patterns import apriori, association_rules

# def hot_encode(x): 
#     if(x<= 0): 
#         return 0
#     if(x>= 1): 
#         return 1
  
# # Encoding the datasets 
# df_1_encoded =clustering_rules_1.applymap(hot_encode) 

# # Building the model when Churn=1
# frq_items = apriori(df_1_encoded, min_support = 0.05, use_colnames = True) 

# # Collecting the inferred rules in a dataframe 
# rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
# rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
# rules.head()